<!doctype html>
<html lang="en">
<head>
  <title>Admin Login</title>
</head>
<body>
  <h2>Admin Login</h2>
  <form method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" required><br><br>
    
    <label for="passwords">Password:</label>
    <input type="password" name="password" required><br><br>

    <input type="submit" value="Login">

    <a href="{{ url_for('logout') }}">Logout</a>

  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul>
      {% for category, message in messages %}
        <li><strong>{{ category.title() }}</strong>: {{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
</body>
</html>
